{% extends 'base.html' %}
{% block title %}Main{% endblock %}
{% block content %}
	<div class="container text-center mt-5">
	{% if user.is_authenticated %}
		<a href="#">Logout</a>
	{% else %}
	{% endif %}
	{% if all_messages %}
		{% for message in all_messages %}
			<p>{{ message.text }}</p>
			<p>{{ message.author }}</p>
		{% endfor %}
	{% endif %}
	<form method="POST">
		{% csrf_token %}
	  <div class="form-group">
	    <input type="search" class="form-control" aria-describedby="text" placeholder="Enter message" name="text">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit message</button>
	</form>
	<a href="{% url 'home' %}">Back</a>
	</div>
	

{% endblock %}